<?xml version='1.0' encoding='utf-8'?>
<plugin id="ios-permissions-vitta" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ios-permissions</name>
  <js-module name="ios-permissions" src="www/IOSPermission.js">
    <clobbers target="IOSPermission" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="IOSPermission">
        <param name="ios-package" value="IOSPermission" />
      </feature>
    </config-file>
    <header-file src="src/ios/IOSPermission.h" />
    <source-file src="src/ios/IOSPermission.m" />
  </platform>
</plugin>